/* Fonts */
/* Colors */
/* Animations */
body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.body--overflow {
  overflow: hidden;
}

image {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  padding: 5.5px 0;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

@media (min-width: 768px) {
  .logo {
    padding: 24px 0;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__logo {
  padding: 0;
}

.nav__list {
  display: none;
}

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

@media (max-width: 767px) {
  .nav__item + .nav__item {
    margin-top: 32px;
  }
  .nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    display: block;
    position: relative;
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__link--current::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus .close__icon,
.close:hover .close__icon {
  fill: #2196f3;
}

.modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  min-height: 609px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin: 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}

@media (min-width: 1200px) {
  .modal__form {
    margin-top: 15px;
  }
}

.modal__field {
  margin-top: 10px;
}

.modal__field:first-child {
  margin-top: 0px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__field-box {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-within, .modal__input:hover {
  border: 1px solid #2196f3;
}

.modal__field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus-within .modal__field-icon,
.modal__field:hover .modal__field-icon {
  fill: #2196f3;
}

.modal__comment {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment:focus, .modal__comment:hover {
  border-color: #2196f3;
}

.modal__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.17;
}

@media (min-width: 1200px) {
  .modal__label-check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__check:focus + .modal__check-icon {
  outline: 2px solid #2194f2;
}

.modal__check:checked + .modal__check-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal__check-link {
  text-decoration: underline;
  color: #2196f3;
}

.modal__button {
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 0;
  width: 200px;
  height: 50px;
  border: 1px #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-socail__item {
  margin-left: 10px;
}

.team-socail__item:first-child {
  margin-left: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-links:hover, .social-links:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filters-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.filters-list__item {
  margin-right: 8px;
}

.filters-list__item:last-child {
  margin-right: 0;
}

.filters-list__button {
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.filters-list__button:focus, .filters-list__button:hover {
  border-color: #2196f3;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

.filters-list__button--current-btn {
  border-color: #2196f3;
  color: #ffffff;
  background-color: #2196f3;
}

@media (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-menu__conteiner {
    padding: 40px 40px;
    margin: 0 auto;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
    margin: 0;
    padding: 0;
  }
  .mobile-menu__btn-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__btn-close:hover .mobile-menu__btn-icon,
  .mobile-menu__btn-close:focus .mobile-menu__btn-icon {
    fill: #2196f3;
  }
  .mobile-menu__contacts {
    margin-top: 302px;
  }
  .mobile-menu__contacts-item + .mobile-menu__contacts-item {
    margin-top: 32px;
  }
  .mobile-menu__tel {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media (max-width: 767px) and (max-width: 370px) {
  .mobile-menu__tel {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .mobile-menu__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu__social {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mobile-menu__social-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #757575;
  }
  .mobile-menu__social-item:first-child {
    padding-left: 0;
    border-left: none;
  }
  .mobile-menu__social-item:last-child {
    padding-right: 0;
  }
  .mobile-menu__social-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*15px) / 2);
        flex-basis: calc((100% - 2*15px) / 2);
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-child(2n+1) {
    margin-left: 0;
  }
  .clients__item:nth-child(-n+2) {
    margin-top: 0;
  }
  .clients__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4*15px) / 3);
        flex-basis: calc((100% - 4*15px) / 3);
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-child(3n+1) {
    margin-left: 0;
  }
  .clients__item:nth-child(-n+3) {
    margin-top: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 5*30px) / 6);
        flex-basis: calc((100% - 5*30px) / 6);
  }
  .clients__item:first-child {
    margin-left: 0;
  }
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.clients__link:hover .clients__box,
.clients__link:focus .clients__box {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .features__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*15px) / 2);
        flex-basis: calc((100% - 2*15px) / 2);
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-child(2n+1) {
    margin-left: 0;
  }
  .features__item:nth-child(-n+2) {
    margin-top: 0;
  }
  .features__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .features__item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 3*30px) / 4);
        flex-basis: calc((100% - 3*30px) / 4);
  }
  .features__item:first-child {
    margin-left: 0;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__conteiner {
  text-align: center;
}

@media (min-width: 768px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer__conteiner {
    text-align: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts__address {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts__list {
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .footer-contacts__list {
    margin-top: 9px;
  }
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .footer-contacts__item + .footer-contacts__item {
    margin-top: 9px;
  }
}

.footer-contacts__link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts__link:focus, .footer-contacts__link:hover {
  color: #2196f3;
}

.footer__title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .footer__title {
    margin-bottom: 20px;
    text-align: left;
  }
}

.footer__social {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .footer__social {
    margin-top: 0;
    margin-left: 165px;
  }
}

@media (min-width: 1200px) {
  .footer__social {
    margin-left: 84px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .social-list {
    margin-top: 0;
  }
}

.social-list__item {
  margin-left: 10px;
}

.social-list__item:first-child {
  margin-left: 0px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.footer__subscribe {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .footer__subscribe {
    margin-top: 0;
    margin-left: 92px;
  }
}

.subscribe__form {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

.subscribe__input {
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font: inherit;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:hover, .subscribe__input:focus {
  border-color: #2196f3;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .subscribe__input {
    display: block;
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 0;
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  border: 1px #2196f3;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__item {
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover, .gallery__item:focus-within {
  -webkit-box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
          box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
}

@media (max-width: 767px) {
  .gallery__item:first-child {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery__item:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .gallery__item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.gallery__link {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.gallery__image {
  width: 100%;
}

.gallery__text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
}

.gallery__item:hover .gallery__text,
.gallery__link:focus .gallery__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 768px) {
  .gallery__text {
    padding: 49px 24px;
  }
}

@media (min-width: 1200px) {
  .gallery__text {
    padding: 63px 24px;
  }
}

.gallery__description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__type {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .header__conteiner {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_menu-btn {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
}

@media (min-width: 768px) {
  .header_menu-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .header_menu-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
    cursor: pointer;
  }
  .header_menu-btn:hover .header_menu-icon,
  .header_menu-btn:focus .header_menu-icon {
    fill: #2196f3;
  }
}

@media (min-width: 768px) {
  .contacts__item {
    display: block;
  }
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contacts__link:focus, .contacts__link:hover {
    color: #2196f3;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media (min-width: 768px) {
  .contacts__icon {
    fill: currentColor;
  }
  .icon__envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .icon__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .icon__smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .icon__smartphone {
    width: 12px;
    height: 16px;
    margin-right: 10px;
  }
}

.hero {
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/mobile/bcg-hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mobile/bcg-hero-mobile.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/mobile/bcg-hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mobile/bcg-hero-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 768px 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/tablet/bcg-hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/bcg-hero-tablet.jpg);
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/tablet/bcg-hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/bcg-hero-tablet@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/desktop/bcg-hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/bcg-hero-desktop.jpg);
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/desktop/bcg-hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/bcg-hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  padding: 10px 0;
  height: 50px;
  min-width: 200px;
  border: 1px #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.team__section {
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
          box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}

@media (max-width: 767px) {
  .team__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*15px) / 2);
        flex-basis: calc((100% - 2*15px) / 2);
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-child(2n+1) {
    margin-left: 0;
  }
  .team__item:nth-child(-n+2) {
    margin-top: 0;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .team__item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .team__item:first-child {
    margin-left: 0;
  }
}

.team__image {
  width: 100%;
}

.team__content {
  text-align: center;
  padding: 30px 32px 24px 32px;
}

@media (min-width: 1200px) {
  .team__content {
    padding: 30px 32px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.works__section {
  display: none;
}

@media (min-width: 1200px) {
  .works__section {
    display: block;
    padding-top: 0;
  }
}

.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  line-height: 0;
}

.works__item:first-child {
  margin-left: 0;
}

.works__image {
  width: 100%;
}

.works__label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */