.clients__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients__list {
    display: flex;
}

.clients__item {
    margin-left: 30px;

    &:first-child {
        margin-left: 0;
    }
}

.clients__box {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color $transition-duration $transition-timing-function,
        border-color $transition-duration $transition-timing-function;

    width: 170px;
    height: 92px;
    border: 1px solid $clients-logo-color;
    border-radius: 4px;

    color: $clients-logo-color;

    .clients__link:hover &,
    .clients__link:focus & {
        color: $accent-text-color;
        border: 1px solid $accent-text-color;
    }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}