.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $hero-bgc;
}

.footer__conteiner {
    display: flex;
    align-items: baseline;
}

.footer__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;
}

.footer-contacts {
    margin-top: 20px;
}

.footer-contacts__address {
    margin-top: 0;
    margin-bottom: 0;

    color: $white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts__list {
    margin-top: 9px;
}

.footer-contacts__item +.footer-contacts__item {
    margin-top: 9px;
}

.footer-contacts__link {
    display: block;
    transition: color $transition-duration $transition-timing-function;

    color: $adress-text-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    &:focus,
    &:hover,
        {
        color: $accent-text-color;
    }
}

.footer__social{
    margin-left: 79px;
}

.social-list {
    display: flex;
}

.social-list__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0px;
    }
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $transition-duration $transition-timing-function;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-social-color;
    color: $white-color;

    &:hover,
    &:focus {
        background-color: $accent-text-color;
    }
}

.social-list__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.footer__subscribe {
    margin-left: 97px;
}

.subscribe__form {
    display: flex;
}

.subscribe__input {
    height: 50px;
    width: 358px;
    margin: 0;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    font: inherit;
    color: $white-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    transition: border-color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        border-color: $accent-text-color;
    }
    
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
    
        color: $adress-text-color;
    }
}

.subscribe__button {
    display: inline-flex;
    padding: 10px 0;
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
    border: 1px $accent-text-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    background-color: $accent-text-color;
    color: $white-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.subscribe__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}