.gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    margin-top: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow $transition-duration $transition-timing-function;

    &:hover {
        box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
    }
    
    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-child(-n + 3) {
        margin-top: 0;
    }
}

.gallery__link {
    display: block;
    color: inherit;
}

.gallery__thumb {
    position: relative;
    overflow: hidden;
}

.gallery__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform $transition-duration $transition-timing-function;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;
    background-color: $gallery-thumb-bgc;
    overflow: hidden;

    .gallery__item:hover &,
    .gallery__link:focus & {
        transform: translateY(0);
    }
}

.gallery__description {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.gallery__title {
    margin-top: 0;
    margin-bottom: 0;

    color: $title-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery__type {
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.87;
}