.header {
    border-bottom: 1px solid #ececec;
}

.header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    display: block;
    position: relative;

    & + & {
        margin-left: 50px;
    }
}

.nav__link {
    display: block;
    padding: 32px 0;
    transition: color $transition-duration $transition-timing-function;

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:focus,
    &:hover {
        color: $accent-text-color;
    }

    &--current {
        color: $accent-text-color;
    }

    &--current::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent-text-color;
    }
}

.contacts {
    display: flex;
}

.contacts__item {
    display: block;

    & + & {
        margin-left: 30px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    transition: color $transition-duration $transition-timing-function;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:focus,
    &:hover,
        {
        color: $accent-text-color;
    }
}

.contacts__icon {
    fill: currentColor;
}

.icon__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.icon__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}