.header {
    border-bottom: 1px solid #ececec;
}

.header__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contacts {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 1200px) {
        display: flex;
    }
}

.header_menu-btn {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: none;

    @media (min-width: 768px) {
        display: none;
    }
}

@media (max-width: 767px) {
    .header_menu-icon {
        width: 40px;
        height: 40px;
        fill: $title-text-color;
        transition: fill $transition-duration $transition-timing-function;
        cursor: pointer;
    
        .header_menu-btn:hover &,
        .header_menu-btn:focus & {
            fill: $accent-text-color;
        }
    }
}

@media (min-width: 768px) {
    .contacts__item {
        display: block;

        @media (min-width: 768px) and (max-width: 1199px){
            &+& {
                margin-top: 10px;
            }
        }
        
        @media (min-width: 1200px) {
            &+& {
                margin-left: 30px;
            }
        }
    }
    
    .contacts__link {
        display: flex;
        align-items: center;
        transition: color $transition-duration $transition-timing-function;
    
        color: $primary-text-color;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        &:focus,
        &:hover,
            {
            color: $accent-text-color;
        }

        &--padding-top {
            padding-top: 21px;
        }

        &--padding-bottom {
            padding-bottom: 21px;
        }

        @media (min-width: 1200px) {
            padding: 32px 0;
            font-size: 14px;
            line-height: 1.14;
        }
    }
    
    .contacts__icon {
        fill: currentColor;
    }
    
    .icon__envelope {
        width: 14px;
        height: 10px;
        margin-right: 8px;

        @media (min-width: 1200px) {
            width: 16px;
            height: 12px;
            margin-right: 10px;
        }
    }
    
    .icon__smartphone {
        width: 10px;
        height: 14px;
        margin-right: 8px;

        @media (min-width: 1200px) {
            width: 12px;
            height: 16px;
            margin-right: 10px;
        }
    }
}