.works__section {
    padding-top: 0;
}

.works__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.works__list {
    display: flex;
}

.works__item {
    position: relative;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 3);

    &:first-child {
        margin-left: 0;
    }
}

.works__label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: $label-bgc;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}