.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-list__item {
    margin-left: 8px;

    &:first-child {
        margin-left: 0;
    }
}

.filters-list__button {
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px $title-text-color;
    transition: color $transition-duration $transition-timing-function,
        border-color $transition-duration $transition-timing-function,
        background-color $transition-duration $transition-timing-function,
        box-shadow $transition-duration $transition-timing-function;

    color: $title-text-color;
    background-color: $secondary-bgc;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    &:focus,
    &:hover {
        border-color: $accent-text-color;
        color: $white-color;
        background-color: $accent-text-color;
        box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
    }
    
    &--current-btn {
        border-color: $accent-text-color;
        color: $white-color;
        background-color: $accent-text-color;
    }
}