.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 100vh;
    background-color: $backdrop-bgc;
    opacity: 1;
    transition: opacity $transition-duration $transition-timing-function;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: $white-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close__icon {
    width: 11px;
    height: 11px;
    fill: $black-color;
    transition: fill $transition-duration $transition-timing-function;

    .close:focus &,
    .close:hover & {
        fill: $accent-text-color;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform $transition-duration $transition-timing-function,
        opacity $transition-duration $transition-timing-function;

    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: $white-color;
    border-radius: 4px;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    color: #212121;
    margin: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.modal__field {
    margin-top: 10px;
    
    &:first-child {
        margin-top: 0px;
    }
}

.modal__lable {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.modal__field-box {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border $transition-duration $transition-timing-function;

    &:focus-within,
    &:hover {
        border: 1px solid $accent-text-color;
    }
}

.modal__field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: $title-text-color;
    transition: fill $transition-duration $transition-timing-function;

    .modal__field:focus-within &,
    .modal__field:hover & {
        fill: $accent-text-color;
    }
}

.modal__comment {
    display: block;
    margin-top: 4px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border-color $transition-duration $transition-timing-function;

    &:focus,
    &:hover {
        border-color: $accent-text-color;
    }
    
    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__label-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    font-size: 14px;
    line-height: 1.71;
}

.modal__check-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid $title-text-color;
    border-radius: 2px;
    background-color: $white-color;
    cursor: pointer;

    .modal__check:focus+& {
        outline: 2px solid rgba(33, 148, 242, 60%);
    }

    .modal__check:checked+& {
        background-color: $accent-text-color;
        background-image: url('../images/icon-check.svg');
        background-size: contain;
        background-origin: border-box;
        border-color: transparent;
    }
}

.modal__check-link {
    text-decoration: underline;
    color: $accent-text-color;
}

.modal__button {
    margin-top: 30px;
    align-self: center;
    padding: 10px 0;
    width: 200px;
    height: 50px;
    border: 1px $accent-text-color;
    border-radius: 4px;
    background-color: $accent-text-color;
    color: $white-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}