/* Fonts */
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

/* Colors */
$primary-text-color: #757575;
$accent-text-color: #2196f3;
$white-color: #ffffff;
$title-text-color: #212121;
$adress-text-color: rgba(255, 255, 255, 0.6);
$black-color: #000000;
$secondary-bgc: #f5f4fa;
$hero-bgc: #2f303a;
$clients-logo-color: #afb1b8;
$footer-social-color: rgba(255, 255, 255, 0.1);
$label-bgc: rgba(47, 48, 58, 0.8);
$gallery-thumb-bgc: rgba(33, 150, 243, 0.9);
$backdrop-bgc: rgba(0, 0, 0, 0.2);

/* Animations */
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);